<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= post.title %>
  </p>
</div>
<div>
  <% if post.images.attached? %>
    <% post.images.each do |image| %>
    <%= image_tag image.variant(resize_to_fit: [300, 200]) %>
    <%= image_tag image.variant(resize_to_fit: [300,200]), class: "rounded-full w-10 h-10"%>
    <% end %>
  <% end %>
</div>
